<!-- #name  se le llama variable de plantilla -->
<div>
  <div class="form-container">
    <input
      type="text"
      #firstName
      placeholder="Ingresa tu nombre"
      class="form-control"
      required
    />

    <button
      class="btn btn-primary mt-2"
      (click)="mostrarEnConsola(firstName.value)"
    >
      mostrar en consola
    </button>
    <!-- condicionales de directiva ngIf -->
    <div class="alert alert-success mt-3" *ngIf="openAlert; else message">
      Se ha envido el mensaje!
    </div>
  </div>
  <ng-template #message>
    <div class="alert alert-info mt-4">
      No hay mensaje
    </div>
  </ng-template>
</div>
